*{
  box-sizing: box;
}

.pcHeader{
  padding: 0 60px;
}
  .headerInner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .mainHeader{
      position: relative;
      display: flex;
      align-items: center;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a{
          width: 140px;
          display: block;
          img{
            width: 100%;
            vertical-align: bottom;
        }
      }
    }
  }
}

    .serchBox{
      margin-left: auto;
      width: 100%;
      form{
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        input{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
      button{
        width: 40px;
        height: 40px;
        border: 0;
        cursor: pointer;
        background-color: $blue;
        padding: 8px;
        .searchBox__icon{
          margin: 0;
          padding: 0;
          img{
            height: 20px;
            width: 100%;
            vertical-align: bottom;
          }
        }
  // .resultLists{
//   display: flex;
//   position: absolute;
//   right:0;
//   top: 36px;
//   z-index: 2;
//                   }
                  }
                }
          //   }
          // }
  }

  .nav{
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    ul{
      position: relative;
      display: flex;
      li{
        text-decoration: none;
        padding: 0px;
        #Btn{
          color: $gray;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        // .tree_displayNone{
        //   z-index: 2;
        //   position: absolute;
        //   background-color: $white;
        //   width: 240px;
        //   top: 40px;
        // }
          // .categoryTree{
          //   background-color: $white;
          //   display: flex;
          //   flex-direction: column;
          //   position: relative;
          //   &__item{
          //     position: relative;
          //     a{
          //       color: $gray;
          //       text-decoration: none;
          //       line-height: 32px;
          //       background-position: center right;
          //       background-repeat: no-repeat;
          //       background-size: 18px;
          //       padding-right: 30px;
        }
      }
    }
   
    .listsRight{
      margin-left: auto;
      display: flex;
    }
            

        
        



