.pickup{
  padding: 60px 100px;
  background-color: 100px;
}

.pickupContainer{
  padding: 60px 100px ;
  background-color: #f8f8f8;
  height: 100%;
  .head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .productBox{
    margin: 0;
    padding: 0;
    &__productHead{
      text-align: center;
      &__pickup{
        font-size: 24px;
        text-decoration: none;
        color: $blue;
        &__title{
          font-weight: bold;
      }
      }
    }
  }
}
    .productBox__productLists{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      &__productList{
        width: 220px;
        display: flex;
        float: left;
        &__goodsshow{
          background-color: $white;
          display: inline-block;
          &__image{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
            .productBox__productLists__productList__goodsshow__itemsphoto{
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;                
              object-fit: cover;
            }
              .productBox__productLists__productList__goodsshow__itemsphoto__sold{
                width: 0;
                height: 0;
                border-top: 60px solid #ea352d ;
                border-right: 60px solid transparent;
                border-bottom: 60px solid transparent;
                border-left: 60px solid #ea352d ;
                z-index:100;
                top:-175px;
                &__inner{
                  transform: rotate(-45deg);
                  font-size: 28px;
                  margin:-35px 0px 0px -55px;
                  color: #fff;
                  letter-spacing: 2px;
                  font-weight: 600;
      }
              }

                }
              }
              
              }
        


          .productBox__productLists__productList__body{
            background-color:$white;
            color: $gray;
            padding: 16px;
            .name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
                }
            .details{
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                  margin: 0;
                  padding: 0;
                  .fa{
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    ::before{
                      content: "\f005";
                    }
                      } 
    }
  }
}
}

              .tax{
                font-size: 10px;
                text-align: left;
                }  

.pickupContainer:last-child{
  padding-bottom: 80px;
}        

