.pickupContainer{
  padding: 80px 0 0 ;
  background-color: #f8f8f8;
  height: 100%;
  .head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .productBox{
    margin: 0;
    padding: 0;
    .productHead{
      text-align: center;
      .pickup{
        font-size: 24px;
        text-decoration: none;
        color: $blue;
        .title{
          font-weight: bold;
      }
      }
    }
  }
}
    .productLists{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .productList{
        width: 220px;
        display: inline-block;
        float: left;
        .goodsshow{
          background-color: $white;
          display: inline-block;
          &__img{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            .itemsphoto{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;                
              object-fit: cover;

                }
              }
              
              }
          }
        }

          img{
            width: 100%;
            vertical-align: bottom;
          }
        
          .productList__body{
            background-color:$white;
            color: $gray;
            padding: 16px;
            .name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
                }
            .details{
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                  margin: 0;
                  padding: 0;
                  .fa{
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    ::before{
                      content: "\f005";
                    }
                      } 

              p{
                font-size: 10px;
                text-align: left;
                            }  
    }
  }
}
}

.pickupContainer:last-child{
  padding-bottom: 80px;
}


              

