%section.pickupContainer
  %h2.head
    ピックアップカテゴリー
  .productBox
    .productBox__productHead
      .productBox__productHead__pickup
        %h3.productBox__productHead__pickup__title
          新規投稿
    .productBox__productLists
      - @items.each do |item|
        .productBox__productLists__productList
          =link_to item_path(item.id) ,class: "productBox__productLists__productList__goodsshow" do
            %figure.productBox__productLists__productList__goodsshow__image
            -ft_images = item.images
            =image_tag item.images[0], class: "productBox__productLists__productList__goodsshow__itemsphoto"
            -if item.buyer_id.present?
              .productBox__productLists__productList__goodsshow__itemsphoto__sold
                .productBox__productLists__productList__goodsshow__itemsphoto__sold__inner
                  SOLD
            .productBox__productLists__productList__body
              %h3.name
                =item.name
              .details
                %ul
                  %li.price
                    =item.price
                    ="円"
                  %li
                    %i.far.fa-star
                      1
                %p.tax
                  (税込)

%section.pickupContainer
  %h2.head
    ピックアップブランド
  .productBox
    .productBox__productHead
      .productBox__productHead__pickup
        %h3.productBox__productHead__pickup__title
          アーカイバ
    .productBox__productLists
      - @items.each do |item|
        .productBox__productLists__productList
          =link_to item_path(item.id) ,class: "productBox__productLists__productList__goodsshow" do
            %figure.productBox__productLists__productList__goodsshow__image
            -ft_images = item.images
            =image_tag item.images[0], class: "productBox__productLists__productList__goodsshow__itemsphoto"
            -if item.buyer_id.present?
              .productBox__productLists__productList__goodsshow__itemsphoto__sold
                .productBox__productLists__productList__goodsshow__itemsphoto__sold__inner
                  SOLD
            .productBox__productLists__productList__body
              %h3.name
                =item.name
              .details
                %ul
                  %li.price
                    =item.price
                    ="円"
                  %li
                    %i.far.fa-star
                      1
                %p.tax
                  (税込)