%section.mainVisual
  .content
    %h2.subtitle
      %br
        人生を変えるフリマアプリ
    %p.text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
        フリマアプリです
    .btn
      %a.aBtn{:href => "#"}
        = image_tag 'icon/Download_on_the_App_Store_Badge_JP_blk_.png' ,size: "180*60"         
      %a.gBtn{:href => "#"}
        = image_tag 'icon/google-play-badge.png', size: "180*60"
  .picture

%section.topIntroduction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
  %ul.lists
    %li.list
      .list__pict
        %span.number
          1
        = image_tag 'pict/pict-reason-01.jpg', class: 'reason'
      %h3.list__text
        %span{style: "color: $blue"}> 3分
        ですぐに出品
      %p.list__description
        スマホで入力するだけで簡単に出品できる!

    %li.list
      .list__pict
        %span.number
          2
        = image_tag "pict/pict-reason-02.jpg", class: 'reason'
      %h3.list__text
        %span{style: "color: $blue"}> シンプル
        で使いやすい
      %p.list__description
        めんどくさい入力は必要なく、検索も購入もスムーズ!

    %li.list
      .list__pict
        %span.number
          3
        =image_tag "pict/pict-reason-03.jpg", class: 'reason'
      %h3.list__text
        手数料
        %span
          業界最安
      %p.list__description
        最大3%でお得に出品&購入!
