.search
  %header.pcHeader
    =render 'header'

  %main.search-container
    .l-content
      %section.items-box-container
        %h1.search-result-head
          検索結果




  %footer.home-footer
    = render 'top-footer'
    
  =link_to "items/new" do
    .purchaseBtn
      %span.purchaseBtn__text
        出品する
      =image_tag 'icon/icon_camera.png' 